<mat-card>
  <mat-card-title>
    <div class="title">
      <p>{{'form.singIn-title' | translate }}</p>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div [formGroup]="form" class="loginForm">
      <mat-form-field class="mat-form">
        <mat-label>  {{'form.userName' | translate }}</mat-label>
        <input type="text" matInput formControlName="username" #myInput>
        <mat-error *ngIf="form.controls['username'].invalid && form.controls['username'].hasError('required')">
          {{'form.userName-error' | translate }}
        </mat-error>
        <mat-error *ngIf="form.controls['username'].invalid && form.controls['username'].hasError('minlength')">
          {{'form.userNameChar-error' | translate }}
        </mat-error>
        <mat-error *ngIf="form.controls['username'].invalid && form.controls['username'].hasError('maxLength')">
          {{'form.userNameMaxChar-error' | translate }}
        </mat-error>
        <mat-error *ngIf="form.controls['username'].invalid && form.controls['username'].hasError('pattern')">
          {{'form.userNamePersianChar-error' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-form">
        <mat-label> {{'form.passWord' | translate }}</mat-label>
        <input type="password" matInput formControlName="Password">
        <mat-error>{{'form.passWord-error' | translate }}</mat-error>
      </mat-form-field>
      <div class="button">
        <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid" (click)="onSubmit()">
          {{'form.inputButton' | translate }}
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/signup']">
          {{'form.registerButton' | translate }}</button>
        <button mat-raised-button color="warn" [routerLink]="['/resetpassword']">
          {{'form.recoveryPasswordBtn' | translate }}
        </button>
      </div>
    </div>
  </mat-card-content>
  <div class="footerLoginform">
    <div>
      <img class="avatar" src="..\assets\img\angular.png">
      <p> {{'layout.projectName' | translate }}</p>
    </div>
    <p> {{'layout.appVersion' | translate }}</p>
  </div>
</mat-card>
