
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: whitesmoke;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #5885AF;
}

.title p {
  font-family: BTitrBold;
  font-weight: bold;
  font-size: 30px;
  color: whitesmoke;
}
.mat-form input{
  font-family: BYekan;
  font-weight: bold;
  /*font-size: 30px;*/
}

.title img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button button {
  margin: 5px 10px;
  font-family: BYekan;
  font-weight: bold;
  font-size: 15px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  justify-content: center;
}

.loginForm span {
  color: black;
  font-size: 1rem;
}

.mat-form {
  margin: 10px;
}

.mat-form input {
  width: 300px;
}

.footerLoginform {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #5885AF;
}

.footerLoginform div {
  display: flex;

  justify-content: center;
}
.footerLoginform  p {
  font-family: BYekan-bold;
  font-weight: bold;
  font-size: 20px;
}

.s {
  position: absolute !important;
  top: 54px;
}
