<header class="header">
  <mat-toolbar class="toolbar">
    <div  class="toolbar-right">
      <a mat-button (click)="showSidebar()">
        <mat-icon *ngIf="sidebarStatus">close</mat-icon>
        <mat-icon *ngIf="!sidebarStatus">menu</mat-icon>
      </a>
      <p >تالار گفتگو</p>
    </div>
    <div  class="toolbar-left">
      <img class="avatar mat-elevation-z8" src="..\assets\img\images.jpg">
      <a mat-button [matMenuTriggerFor]="dropdown">
        <mat-icon>person</mat-icon>
        <span>{{username}}</span>
      </a>
      <mat-menu #dropdown>
        <button mat-menu-item [routerLink]="['profile']" RouterLinkActive="['active']">
          <mat-icon>person</mat-icon>
          <span>  ویرایش حساب کاربری</span>
        </button>
        <button mat-menu-item >
          <mat-icon>login</mat-icon>
          <span>تغییر رمز عبور</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>library_books</mat-icon>
          <span>خروج</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar>
</header>
