<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title">
          <mat-icon aria-hidden="false">people</mat-icon>
          {{'form.view-comment'|translate}}
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div  class="commentForm">
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.subject-title' | translate }}</span>
            <mat-label *ngFor="let a of CommentDate">{{a.title}}</mat-label>
          </div>
          <div>
            <span>{{'form.subject-creatorUser' | translate }}</span>
            <mat-label *ngFor="let a of CommentDate">{{a.creatorUser}}</mat-label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.subject-category' | translate }}</span>
            <mat-label *ngFor="let a of CommentDate">{{a.categoryTitle}}</mat-label>
          </div>
          <div>
            <span>{{'form.subject-createDateTime' | translate }}</span>
            <mat-label *ngFor="let a of CommentDate">{{a.createDateTime | time}}</mat-label>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <button mat-raised-button color="accent" [routerLink]="['/subject']">
        {{'form.exit-btn'|translate}}
      </button>
    </div>
    <hr>
    <div class="scrolling-container">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <table mat-table matSort matSortActive="position" matSortDisableClear matSortDirection="asc"
             [dataSource]="dataSource" class="mat-elevation-z8" (cdkDropListDropped)="drop($event)" cdkDropList
             (matSortChange)="sortData($event)">
        <ng-container matColumnDef="id" class="tableDesign">
          <th mat-header-cell *matHeaderCellDef  cdkDrag
          >
            {{'table.row'|translate}}</th>
          <td mat-cell *matCellDef="let element ; let i=index">
            <!--            {{index(i)}} -->
            {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="creatorUser">
          <th mat-header-cell *matHeaderCellDef  cdkDrag
              mat-sort-header>
            {{'table.create-user'|translate}} </th>
          <td mat-cell *matCellDef="let element">{{element.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="createDateTimeComments">
          <th mat-header-cell  mat-sort-header="categoryTitle" *matHeaderCellDef cdkDrag>
            {{'table.create-time'|translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.createDateTime | time}} </td>
        </ng-container>

        <ng-container matColumnDef="showVote">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.status_vote'|translate}}</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.voteType===1" style="color: red"> check_circle</mat-icon>
            <mat-icon *ngIf="element.voteType===0" style="color: green"> check_circle</mat-icon>
            {{changeStatusTitle(element.voteType)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!--      <mat-paginator #paginator class="mat-elevation-z8 paginator"-->
      <!--                     showFirstLastButtons-->
      <!--                     [pageSizeOptions]="getPageSizeOptions()">-->
      <!--      </mat-paginator>-->
<!--      <mat-paginator showFirstLastButtons class="mat-elevation-z8 paginator"  #paginator-->
<!--                     [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">-->
<!--      </mat-paginator>-->
      <mat-paginator (page)="changePagination($event)" [length]="totalElements"
                     [pageIndex]="currentPage" [pageSizeOptions]="[5,10,25,50,100]"
                     [pageSize]="pageSize" class="iransans"
                     color="primary" showFirstLastButtons="showFirstLastButtons"></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>

