<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title
      class="card-header-title">{{'changePassword-UserComponent.changePassword-UserComponent-title'|translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-divider class="mt-divider"></mat-divider>
  <mat-card-content class="container">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="container1" [formGroup]="changePassword">
          <div class="grid-list">
            <span
              class="grid-list-name">
              {{'changePassword-UserComponent.changePassword-UserComponent-oldPassword-span'|translate}}
            </span>
            <mat-form-field>
              <mat-label>
                {{'changePassword-UserComponent.changePassword-UserComponent-oldPassword-span-mat-label'|translate}}
              </mat-label>
              <input type="text" matInput formControlName="oldPassword" #oldPassword>
              <mat-icon matSuffix>mode_edit</mat-icon>

              <mat-error *ngIf="changePassword.controls['oldPassword'].invalid">
                {{'changePassword-UserComponent.changePassword-UserComponent-mat-label-oldPassword-error'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="grid-list">
            <span
              class="grid-list-name">
              {{'changePassword-UserComponent.changePassword-UserComponent-newPassword-span'|translate}}</span>
            <mat-form-field>
              <mat-label>
                {{'changePassword-UserComponent.changePassword-UserComponent-newPassword-span-mat-label'|translate}}
              </mat-label>
              <input type="text" matInput formControlName="newPassword" #myInput>
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="changePassword.controls['newPassword'].invalid &&
              changePassword.controls['newPassword'].hasError('required')">
                {{'changePassword-UserComponent.changePassword-UserComponent-mat-label-newPassword-error'|translate}}
              </mat-error>
              <mat-error *ngIf="changePassword.controls['newPassword'].invalid &&
              changePassword.controls['newPassword'].hasError('minlength')">
                {{'changePassword-UserComponent.changePassword-UserComponent-min-newPassword-error' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="grid-list">
            <span
              class="grid-list-name">
              {{'changePassword-UserComponent.changePassword-UserComponent-cfnPassword-span'|translate}}</span>
            <mat-form-field>
              <mat-label>
                {{'changePassword-UserComponent.changePassword-UserComponent-cfnPassword-span-mat-label'|translate}}
              </mat-label>
              <input type="text" matInput formControlName="cfmPassword" #myInput>
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="changePassword.controls['cfmPassword'].invalid &&
              (changePassword.controls['cfmPassword'].hasError('ConfirmedValidator')!=null)">
                {{'changePassword-UserComponent.changePassword-UserComponent-cfnPassword-mat-label-error'|translate}}
              </mat-error>
              <mat-error *ngIf="changePassword.controls['cfmPassword'].invalid">
                {{'changePassword-UserComponent.changePassword-UserComponent-mat-label-confrimPassword-error'|translate}}
              </mat-error>

            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-divider class="mt-divider"></mat-divider>
  <mat-card-footer class="footer-card">
    <div class="button">
      <button mat-raised-button type="submit" color="primary" [disabled]="changePassword.invalid" (click)="submit()">
        {{'changePassword-UserComponent.changePassword-UserComponent-saveButton'|translate}}
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/home']">
        {{'changePassword-UserComponent.changePassword-UserComponent-cancelButton'|translate}}
      </button>
    </div>
  </mat-card-footer>
</mat-card>
