<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title
      class="card-header-title">{{'form.changePassword-title'|translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-divider class="mt-divider"></mat-divider>
  <mat-card-content class="container">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="container1" [formGroup]="changePassword">
          <div class="grid-list">
            <span
              class="grid-list-name">
              {{'form.newPassword'|translate}}</span>
            <mat-form-field>
              <mat-label>
                {{'form.newPassword'|translate}}
              </mat-label>
              <input type="password" matInput formControlName="password" #password>
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="changePassword.controls['password'].invalid &&
              changePassword.controls['password'].hasError('required')">
                {{'form.newPassword-error'|translate}}
              </mat-error>
              <mat-error *ngIf="changePassword.controls['password'].invalid &&
              changePassword.controls['password'].hasError('minlength')">
                {{'form.min-newPassword-error' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="grid-list">
            <span
              class="grid-list-name">
              {{'form.cfnPassword'|translate}}</span>
            <mat-form-field>
              <mat-label>
                {{'form.cfnPassword'|translate}}
              </mat-label>
              <input type="password" matInput formControlName="cfmPassword" #myInput>
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="changePassword.controls['cfmPassword'].invalid &&
              (changePassword.controls['cfmPassword'].hasError('ConfirmedValidator')!=null)">
                {{'form.cfnPassword-error'|translate}}
              </mat-error>
              <mat-error *ngIf="changePassword.controls['cfmPassword'].invalid">
                {{'form.confrimPassword-error'|translate}}
              </mat-error>

            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-divider class="mt-divider"></mat-divider>
  <mat-card-footer class="footer-card">
    <div class="button">
      <button mat-raised-button type="submit" color="primary" [disabled]="changePassword.invalid" (click)="submit()">
        {{'form.save-btn'|translate}}
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/users-manage']">
        {{'form.cancel-btn'|translate}}
      </button>
    </div>
  </mat-card-footer>
</mat-card>
