<mat-card>
  <mat-card-title>
    <div class="title">
      <img class="avatar " src="..\assets\img\images.jpg">
      <p>بازیابی کلمه عبور</p>
    </div>
  </mat-card-title>
  <mat-card-content>

      <div class="button">
        <button mat-raised-button color="accent">بازیابی پسورد</button>
        <button mat-raised-button color="accent" [routerLink]="['/signin']">انصراف</button>
      </div>



  </mat-card-content>
  <div class="footerLoginform">
    <p>تالار گفتگو</p>
    <p>ورژن 1.0.0</p>
  </div>
</mat-card>
