<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">

        <div class="card-header-title">
          <mat-icon aria-hidden="false" >insert_drive_file</mat-icon>
          {{'form.subject-category-title'|translate}}
        </div>
        <div class="button">
          <button mat-raised-button color="primary" [hidden]="showButton" [routerLink]="['/subject-category', id]">
            {{'form.show-btn'|translate}}
          </button>
          <button mat-raised-button color="accent" [hidden]="showButton"
                  (click)="deleteSubject()">
            {{'form.delete-btn'|translate}}
          </button>
          <button mat-raised-button color="warn" [hidden]="showButton"
                  [routerLink]="['/subject-category/edit', id]" >
            {{'form.edit-btn'|translate}}
          </button>
          <button mat-raised-button color="primary"  (click)="navigateAdd()">
            {{'form.add-btn'|translate}}
          </button>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="menu-tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding=""
                     (contextmenu)="onContextMenu($event, node)">
        <button mat-flat-button (click)="selectNode(node)"
                [color]="activeNode === node ? 'primary' : ''">
          <span class="iransans">{{node.item.title}}</span>
        </button>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                     (contextmenu)="onContextMenu($event, node)">
        <div class="mat-tree-node">
          <button [attr.aria-label]="'Toggle ' + node.item.title" mat-icon-button
                  matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <button mat-flat-button (click)="selectNode(node)"
                  [color]="activeNode === node ? 'primary' : ''">
            <span class="iransans">{{node.item.title}} </span>
          </button>
        </div>
        <mat-progress-bar *ngIf="node.isLoading"
                          mode="indeterminate"
                          class="tree-progress-bar"></mat-progress-bar>
      </mat-tree-node>
    </mat-tree>
    <!--    <ng-template #context_menu>-->
    <!--      <div class="example-menu" cdkMenu>-->
    <!--        <button class="example-menu-item" cdkMenuItem>Cut</button>-->
    <!--        <button class="example-menu-item" cdkMenuItem>Copy</button>-->
    <!--        <button class="example-menu-item" cdkMenuItem>Link</button>-->
    <!--      </div>-->
    <!--    </ng-template>-->

  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
<div [matMenuTriggerFor]="contextMenu"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     style="visibility: hidden; position: fixed">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item [routerLink]="['/subject-category/add']">
      <mat-icon aria-hidden="false" color="primary">add</mat-icon>
      <span class="iransans" >
        {{'subject-category-Component.add-btn'|translate}}
      </span>
    </button>
    <button mat-menu-item [routerLink]="['/subject-category', id]">
      <mat-icon aria-hidden="false" color="primary">pageview</mat-icon>

      <span class="iransans" >
         {{'subject-category-Component.show-btn'|translate}}
      </span>
    </button>
    <button mat-menu-item  [routerLink]="['/subject-category/edit', id]">
      <mat-icon aria-hidden="false" color="accent">edit</mat-icon>

      <span class="iransans">
             {{'subject-category-Component.edit-btn'| translate}}
      </span>
    </button>
    <button mat-menu-item (click)="deleteSubject()">
      <mat-icon aria-hidden="false" color="warn">delete</mat-icon>
      <span class="iransans">
             {{'subject-category-Component.delete-btn'| translate}}
      </span>
    </button>
  </ng-template>
</mat-menu>
