<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title">
          <mat-icon aria-hidden="false">people</mat-icon>
          {{'form.manage-comment'|translate}}
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div  class="commentForm">
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.subject-title' | translate }}</span>
            <mat-label *ngFor="let a of commentFormData">{{a.title}}</mat-label>
          </div>
          <div>
            <span>{{'form.subject-creatorUser' | translate }}</span>
            <mat-label *ngFor="let a of commentFormData">{{a.creatorUser}}</mat-label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.subject-category' | translate }}</span>
            <mat-label *ngFor="let a of commentFormData">{{a.categoryTitle}}</mat-label>
          </div>
          <div>
            <span>{{'form.subject-createDateTime' | translate }}</span>
            <mat-label *ngFor="let a of commentFormData">{{a.createDateTime | time}}</mat-label>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <button mat-raised-button color="accent" [routerLink]="['/subject']">
        {{'form.exit-btn'|translate}}
      </button>
    </div>
    <hr>
    <div class="scrolling-container">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <table mat-table matSort matSortActive="position" matSortDisableClear matSortDirection="asc"
             [dataSource]="dataSource" class="mat-elevation-z8" (cdkDropListDropped)="drop($event)" cdkDropList
             (matSortChange)="sortData($event)">
        <ng-container matColumnDef="id" class="tableDesign">
          <th mat-header-cell *matHeaderCellDef  cdkDrag
          >
            {{'table.row'|translate}}</th>
          <td mat-cell *matCellDef="let element ; let i=index">
            <!--            {{index(i)}} -->
            {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="creatorUser">
          <th mat-header-cell *matHeaderCellDef  cdkDrag
              mat-sort-header>
            {{'table.create-user'|translate}} </th>
          <td mat-cell *matCellDef="let element">{{element.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="createDateTimeComments">
          <th mat-header-cell  mat-sort-header="categoryTitle" *matHeaderCellDef cdkDrag>
            {{'table.create-time'|translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.createDateTime | time}} </td>
        </ng-container>

        <ng-container matColumnDef="showComment">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.comment'|translate}}</th>
          <td mat-cell *matCellDef="let element">
                <span style="cursor: pointer; color: blue" (click)="viewComment(element.id)">{{'table.view'|translate}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.status'|translate}}</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.status===0" style="color: orange"> check_circle</mat-icon>
            <mat-icon *ngIf="element.status===1" style="color: green"> check_circle</mat-icon>
            <mat-icon *ngIf="element.status===2" style="color: red"> block</mat-icon>
            {{changeStatusTitle(element.status)}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.action'|translate}}</th>
          <td mat-cell *matCellDef="let element" class="button">
            <button mat-raised-button color="primary" (click)="confirmComment(element.id)"
                    matTooltip=" پذیرفتن" *ngIf="element.status === 2 || element.status === 0">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="rejectComment(element.id)"
                    matTooltip="رد کردن" *ngIf="element.status === 1 || element.status === 0">
              <mat-icon>thumb_down</mat-icon>
            </button>
            <button mat-raised-button color="primary" (click)="deleteComment(element.id)"
                    matTooltip=" حذف"  >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (contextmenu)="onContextMenu($event, row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!--      <mat-paginator #paginator class="mat-elevation-z8 paginator"-->
      <!--                     showFirstLastButtons-->
      <!--                     [pageSizeOptions]="getPageSizeOptions()">-->
      <!--      </mat-paginator>-->
<!--      <mat-paginator showFirstLastButtons class="mat-elevation-z8 paginator"  #paginator-->
<!--                     [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">-->
<!--      </mat-paginator>-->
      <mat-paginator (page)="changePagination($event)" [length]="totalElements"
                     [pageIndex]="currentPage" [pageSizeOptions]="[5,10,25,50,100]"
                     [pageSize]="pageSize" class="iransans"
                     color="primary" showFirstLastButtons="showFirstLastButtons"></mat-paginator>
    </div>
    <div [matMenuTriggerFor]="contextMenu"
         [style.left]="contextMenuPosition.x"
         [style.top]="contextMenuPosition.y"
         style="visibility: hidden; position: fixed">
    </div>
    <mat-menu #contextMenu="matMenu">
      <ng-template let-item="item" matMenuContent>
        <button mat-menu-item class="buttont"  (click)="confirmComment(item.id)"
                *ngIf="item.status === 2 || item.status === 0">
          <span>{{'form.confirm-comment-btn'|translate}}</span>

        </button>
        <button mat-menu-item class="buttont"  (click)="rejectComment(item.id)"
                *ngIf="item.status === 1 || item.status === 0">
          <span>{{'form.reject-comment-btn'|translate}}</span>

        </button>
        <button mat-menu-item class="buttont"  (click)="deleteComment(item.id)"
                 >
          <span>{{'form.delete-comment-btn'|translate}}</span>

        </button>
      </ng-template>
    </mat-menu>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>

