<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title">
          <mat-icon aria-hidden="false">people</mat-icon>
          {{'form.users-manage-form'|translate}}
        </div>
        <div class="button">
          <button mat-raised-button color="primary" [routerLink]="['/users-manage/add']">
            {{'form.add-btn'|translate}}
          </button>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="filterList">
      <mat-icon aria-hidden="false" class="filterListIcon">filter_list</mat-icon>
      <p>{{'form.filter-subject'|translate}}</p>
    </div>
    <div [formGroup]="filterUsersForm" class="filterUsersForm">
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.userName' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.userName' | translate }}</mat-label>
              <input type="text" matInput formControlName="userName">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="filterUsersForm.controls['userName'].invalid &&
              filterUsersForm.controls['userName'].hasError('pattern')">
                {{'form.usersName-error'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.name' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.name' | translate }}</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-icon matSuffix>people</mat-icon>
              <mat-error
                *ngIf="filterUsersForm.controls['name'].invalid &&
                filterUsersForm.controls['name'].hasError('pattern')">
                {{'form.user-errorPattern'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.nationalCode' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.nationalCode' | translate }}</mat-label>
              <input type="text" matInput formControlName="nationalCode">
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-error *ngIf="filterUsersForm.controls['nationalCode'].invalid &&
              (filterUsersForm.controls['nationalCode'].hasError('minLength') ||
               filterUsersForm.controls['nationalCode'].hasError('maxLength'))">
                {{'form.nationalCode-wrong'|translate}}
              </mat-error>
              <mat-error *ngIf="filterUsersForm.controls['nationalCode'].invalid &&
              filterUsersForm.controls['nationalCode'].errors['wrong']">
                {{'form.nationalCode-wrong'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.isAdmin' | translate }}</span>
            <mat-radio-group class="mat-form radio-group" formControlName="isAdmin">
              <mat-radio-button *ngFor="let isAdmin of isAdmin" [value]="isAdmin">
                {{isAdminUsersStatus(isAdmin)}}</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.status' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.status' | translate }}</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let status of status" [value]="status.statusValue">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.nameFamily' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.nameFamily' | translate }}</mat-label>
              <input type="text" matInput formControlName="nameFamily">
              <mat-icon matSuffix>people_outline</mat-icon>
              <mat-error *ngIf="filterUsersForm.controls['nameFamily'].invalid &&
               filterUsersForm.controls['nameFamily'].hasError('pattern')">
                {{'form.nameFamily-errorPattern'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.DateOfBirth' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.DateOfBirth' | translate }}</mat-label>
              <input matInput [matDatepicker]="picker" [min]="minDate"
                     [max]="maxDate" formControlName="DateOfBirth" [readonly]="true">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.gender' | translate }}</span>
            <mat-radio-group class="mat-form radio-group" formControlName="gender">
              <mat-radio-button *ngFor="let gender of gender" [value]="gender">{{gender}}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
          </div>
        </div>
        <div class="button">
          <button mat-raised-button type="submit" color="primary" (click)="formReset() ">
            {{'form.clean-btn'|translate}}
          </button>
          <button mat-raised-button color="accent" (click)="searchUsers()"
          >
            {{'form.search-btn'|translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="scrolling-container">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <table mat-table matSort matSortActive="position" matSortDisableClear matSortDirection="asc"
             [dataSource]="dataSource" class="mat-elevation-z8" (cdkDropListDropped)="drop($event)" cdkDropList
             (matSortChange)="sortData($event)"  (contextmenu)="onContextMenu($event)">
        <ng-container matColumnDef="id" class="tableDesign" >
          <th mat-header-cell *matHeaderCellDef cdkDrag
          >
            {{'table.row'|translate}}</th>
          <td mat-cell *matCellDef="let element ; let i=index"  >
<!--                        {{index(i)}} -->
            {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}

          </td>
        </ng-container>
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef cdkDrag
              mat-sort-header>
            {{'table.username'|translate}} </th>
          <td mat-cell *matCellDef="let element" >{{element.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header="name" *matHeaderCellDef cdkDrag>
            {{'table.name'|translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="nameFamily">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.nameFamily'|translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.nameFamily}} </td>
        </ng-container>

        <ng-container matColumnDef="nationalCode">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.nationalCode'|translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.nationalCode}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.gender'|translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.gender === "male" ? 'مرد' : 'زن'}} </td>
        </ng-container>
        <ng-container matColumnDef="DateOfBirth">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.DateOfBirth'|translate}}</th>
          <td mat-cell *matCellDef="let element">
            {{element.DateOfBirth | time}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.status'|translate}}</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.status==='Registered'" style="color: orange"> check_circle</mat-icon>
            <mat-icon *ngIf="element.status==='confirm'" style="color: green"> check_circle</mat-icon>
            <mat-icon *ngIf="element.status==='reject'" style="color: red"> block</mat-icon>
            {{usersStatus(element.status)}} </td>
        </ng-container>
        <ng-container matColumnDef="isAdmin">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.isAdmin'|translate}}</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.isAdmin===true" style="color: green"> check_circle</mat-icon>
            <mat-icon *ngIf="element.isAdmin===false" style="color: red"> block</mat-icon>
            {{element.isAdmin === true ? 'بله' : 'خیر'}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.action'|translate}}</th>
          <td mat-cell *matCellDef="let element" >
            <a mat-button [matMenuTriggerFor]="dropdown">
              <mat-icon>more_horiz</mat-icon>

            </a>
            <mat-menu #dropdown>
              <button mat-menu-item [routerLink]="['/users-manage/',element.id]">
                <mat-icon>person</mat-icon>
                <span> {{'table.view' | translate }} </span>
              </button>
              <button mat-menu-item [routerLink]="['/users-manage/edit/',element.id]">
                <mat-icon>login</mat-icon>
                <span>{{'table.edit' | translate }}</span>
              </button>
              <button mat-menu-item (click)="deleteUsers(element.id)">
                <mat-icon>delete</mat-icon>
                <span>{{'table.delete' | translate }}</span>
              </button>
              <button mat-menu-item  *ngIf="element.status==='reject'" (click)="confirmUsers(element.id)">
                <mat-icon>check_circle</mat-icon>
                <span>{{'table.confirm' | translate }}</span>
              </button>
              <button mat-menu-item *ngIf="element.status==='confirm'" (click)="rejectUsers(element.id)">
                <mat-icon>block</mat-icon>
                <span>{{'table.reject' | translate }}</span>
              </button>
              <button mat-menu-item [routerLink]="['/users-manage/reset-password',element.id]">
                <mat-icon>lock</mat-icon>
                <span>{{'table.change-password' | translate }}</span>
              </button>
              <button mat-menu-item *ngIf="element.isAdmin===false"  (click)="toAdmin(element.id)">
                <mat-icon>library_books</mat-icon>
                <span>{{'table.isAdmin' | translate }}</span>
              </button>
              <button mat-menu-item *ngIf="element.isAdmin===true" (click)="disAdmin(element.id)">
                <mat-icon>library_books</mat-icon>
                <span>{{'table.isNotAdmin' | translate }}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator showFirstLastButtons class="mat-elevation-z8 paginator" #paginator
                     [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
<div [matMenuTriggerFor]="contextMenu"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     style="visibility: hidden; position: fixed">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item >
      <mat-icon aria-hidden="false" color="primary">add</mat-icon>
      <span class="iransans">
           {{'form.add-btn'|translate}}
      </span>
    </button>
    <button mat-menu-item  >
      <mat-icon aria-hidden="false" color="accent">edit</mat-icon>
      <span class="iransans">
               {{'form.edit-btn'|translate}}
      </span>
    </button>
    <button mat-menu-item >
      <mat-icon aria-hidden="false" color="warn">delete</mat-icon>
      <span class="iransans">
             {{'form.delete-btn'|translate}}
      </span>
    </button>
    <button mat-menu-item >
      <mat-icon aria-hidden="false" color="primary">pageview</mat-icon>
      <span class="iransans">
         {{'form.show-btn'|translate}}
      </span>
    </button>
  </ng-template>
</mat-menu>
