<footer class="footer">
  <div class="main-footer">
    <div class="footer-column">
      <div class="l-footer">
        <h3>1فهرست</h3>
        <a href="#" class="footer-list">تست1 </a>
        <a href="#" class="footer-list">تست2 </a>

        <a href="#" class="footer-list">تست3 </a>
        <a href="#" class="footer-list">تست4 </a>

      </div>
      <div class="l-footer">
        <h3>فهرست</h3>
        <a href="#" class="footer-list">تست1 </a>
        <a href="#" class="footer-list">تست2 </a>

        <a href="#" class="footer-list">تست3 </a>
        <a href="#" class="footer-list">تست4 </a>

      </div>
      <div class="l-footer">
        <div class="l-f">
          <img class="avatar mat-elevation-z8" src="..\assets\img\images.jpg">
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
            بلکه
            روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
            هدف
            بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
            متخصصان
            را
            می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
            زبان

          </p>
        </div>

      </div>

    </div>
  </div>
  <div class="b-footer">
    <p>ورژن 1.0.0</p>
  </div>
</footer>
