.header-card {
  display: block;
  padding: 0;
}

.title-container {
  display: flex;
  width: 300px;
  padding: 10px;
  position: unset;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-header-title {
  font-family: BTitrBold;
  font-weight: bold;
  font-size: 25px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.header-card {
  padding: 10px;
  height: 40px;

}

.card-header-title {
  font-family: BTitrBold;
  font-weight: bold;
  font-size: 25px;
}

.footer-card {
  height: 20px;
  margin-top: 10px;
}

.header-card1 {
  min-height: 600px;
}

.example-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 6px 0;
}

.example-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.commentForm {
  margin-top: 30px;
  display: flex;
  height: 160px;
  padding: 0
}

.commentsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentsForm span {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  font-family: BYekan-bold;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #000000;

}

.textComment {
  width: 90%;

}
.button-group  button-toggle{
  margin: 10px;
}

.commentsForm div {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.comments-container {
  display: flex;
  flex-direction: column;

}

.comments-container h3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 6px;
}

.commentBox {

}
.content{
  margin-top: 10px;
  margin-right: 20px;
}
.commentBox div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: flex-start;

}
.showtime{
  font-size: 15px;
  font-weight: bold;
  color: #b0b0b0;
  /*margin-right: 10px;*/
  padding: 11px;
  padding-right: 0px;
}
.username {
  font-size: 22px;
  font-weight: bold;
  margin-left: 0;
  color: #3f51b5;
  /*margin-right: 10px;*/
  padding: 5px;
}

.avatarimg img {
  width: 35px;
  height: 35px;

}

.commentsForm div mat-icon {

  margin: 10px;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  /*background-color: gray;*/
}

.commentsForm button {
  margin-top: 10px;
}

.example-full-width {
  width: 100%;
}

.saveBtn-textComment {
  margin-top: 0;
}

.example-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.container {
  margin-top: 20px;
  display: flex;
  height: 280px;
  padding: 0;
}

.col {
  flex-direction: column;
  width: 50%;
  margin: 0 10px;
  align-items: flex-start;

}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.mat-form {
  width: 100%;
}

.radio-group {
  display: flex;
  justify-content: flex-start;
}

.card-header-title {
  font-family: BTitrBold;
  font-weight: bold;
  font-size: 25px;
}

.card-header {

  height: 30px;
  margin-bottom: 10px;
}

.row div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.row span {
  width: 20%;
  font-family: BYekan-bold;
  font-size: 18px;
  font-weight: bold;
  color: #000000;

}

.button button {
  margin: 10px 10px;
  font-family: BYekan;
  font-weight: bold;
  font-size: 15px;
}

