<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title">
          <mat-icon aria-hidden="false">people</mat-icon>
          {{'form.comment'|translate}}
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div  class="commentForm">
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.subject-title' | translate }}</span>
            <mat-label *ngFor="let a of commentData">{{a.title}}</mat-label>
          </div>
          <div>
            <span>{{'form.subject-creatorUser' | translate }}</span>
            <mat-label *ngFor="let a of commentData">{{a.creatorUser}}</mat-label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.subject-category' | translate }}</span>
            <mat-label *ngFor="let a of commentData">{{a.categoryTitle}}</mat-label>
          </div>
          <div>
            <span>{{'form.subject-createDateTime' | translate }}</span>
            <mat-label *ngFor="let a of commentData">{{a.createDateTime | time}}</mat-label>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <button mat-raised-button color="accent" [routerLink]="['/forum']">
        {{'form.exit-btn'|translate}}
      </button>
    </div>
    <hr>
    <div [formGroup]="commentsForm" class="commentsForm">
      <span>{{'form.save-comments' | translate }}</span>
      <mat-form-field class="example-full-width" class="textComment">
        <textarea matInput matTextareaAutosize formControlName="content" placeholder="افزودن دیدگاه"></textarea>
      </mat-form-field>
      <div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="button-group"
                                 #group="matButtonToggleGroup"  (change)="onChange(group.value)">
          <mat-button-toggle value="bold" class="button-toggle"  value="like">
            <mat-icon style="cursor: pointer ;width: 40px; padding: 5px;" [style.color]="likeStatus === 0 ? 'green' : ''">thumb_up
           </mat-icon>
            <span style="padding: 10px;"> {{this.likeNumber}}</span>
          </mat-button-toggle>
          <mat-button-toggle value="italic" class="button-toggle"   value="dislike">
            <mat-icon style="cursor: pointer; width: 40px; padding: 5px;" [style.color]="likeStatus === 1 ? 'red' : ''"
                     >thumb_down
            </mat-icon>
            <span style="padding: 10px;"> {{this.dislikeNumber}}</span>
          </mat-button-toggle>

        </mat-button-toggle-group>


      </div>
      <button mat-raised-button class="saveBtn-textComment" color="primary"
              [disabled]="commentsForm.invalid" (click)="addComment()">{{'form.save-comment' | translate }}</button>
    </div>
    <div class="comments-container">
      <h3>{{'layout.comments' | translate }}</h3>
      <div *ngFor="let comments of allComment" class="commentBox">
        <div>
          <div class="avatarimg">
            <img src="./assets/img/avatarprofile.png">
          </div>
          <div class="username">
            {{comments.userName}}
          </div>
          <div class="showtime">
            - {{comments.createDateTime | time}}
          </div>
        </div>
        <div class="content">
          {{comments.content}}
        </div>

      </div>
    </div>

  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>

