<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title">
          <mat-icon aria-hidden="false">edit_square</mat-icon>
          {{'form.subject-form'|translate}}
        </div>
        <div class="button">
          <button mat-raised-button color="primary" [routerLink]="['/subject/add']">
            {{'form.add-btn'|translate}}
          </button>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="filterList">
      <mat-icon aria-hidden="false" class="filterListIcon">filter_list</mat-icon>
      <p>{{'form.filter-subject'|translate}}</p>
    </div>
    <div class="container" [formGroup]="form">
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.filter-subject-category'|translate}}</span>
            <mat-form-field class="mat-form">

              <mat-label>{{'form.filter-subject-category'|translate}}</mat-label>
              <input type="text" matInput formControlName="parentTitle" [readonly]="true">
              <mat-icon matSuffix style="cursor: pointer" (click)="selectCategory()">mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.filter-subject-creatorUser'|translate}} </span>
            <mat-form-field class="mat-form">
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-label>{{'form.filter-subject-creatorUser'|translate}}</mat-label>
              <input type="text" matInput formControlName="creatorUser">
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.status'|translate}}</span>
            <mat-radio-group class="mat-form radio-group" formControlName="status">
              <mat-radio-button value="true">
                {{'form.status-true'|translate}}</mat-radio-button>
              <mat-radio-button value="false">
                {{'form.status-false'|translate}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.title'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-icon matSuffix>description</mat-icon>
              <mat-label>{{'form.title'|translate}}</mat-label>
              <input type="text" matInput formControlName="title">
              <!--              <mat-icon matSuffix>mode_edit</mat-icon>-->
              <mat-error *ngIf="form.controls['title'].invalid &&
              form.controls['title'].hasError('pattern')">
                {{'form.subject-valid-error'|translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <span>{{'form.filter-subject-createTime'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.filter-subject-createTime'|translate}}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="createDateTime" [readonly]="true">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-icon matIconSuffix *ngIf="this.form.controls['createDateTime'].value" style="cursor: pointer"
                        (click)="resetDateOfBirth()">delete</mat-icon>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div >
            <div class="button">
              <button mat-raised-button type="submit" color="primary" (click)="formReset()">
                {{'form.clean-btn'|translate}}
              </button>
              <button mat-raised-button color="accent" (click)="searchObject()">
                {{'form.search-btn'|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scrolling-container">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <table mat-table matSort matSortActive="position" matSortDisableClear matSortDirection="asc"
             [dataSource]="dataSource" class="mat-elevation-z8" (cdkDropListDropped)="drop($event)" cdkDropList
             (matSortChange)="sortData($event)">
        <ng-container matColumnDef="id" class="tableDesign">
          <th mat-header-cell *matHeaderCellDef  cdkDrag
          >
            {{'table.row'|translate}}</th>
          <td mat-cell *matCellDef="let element ; let i=index">
            <!--            {{index(i)}} -->
            {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef  cdkDrag
              mat-sort-header>
            {{'table.title'|translate}} </th>
          <td mat-cell *matCellDef="let element">{{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="categoryTitle">
          <th mat-header-cell  mat-sort-header="categoryTitle" *matHeaderCellDef cdkDrag>
            {{'table.category-title'|translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.categoryTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="creatorUser">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.create-user'|translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.creatorUser}} </td>
        </ng-container>

        <ng-container matColumnDef="createDateTime">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.create-time'|translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.createDateTime | time}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.status'|translate}}</th>
          <td mat-cell *matCellDef="let element">{{changeStatusTitle(element.status)}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell mat-sort-header *matHeaderCellDef cdkDrag>{{'table.action'|translate}}</th>
          <td mat-cell *matCellDef="let element" class="button">
            <button mat-raised-button color="accent" [routerLink]="['/subject/edit/',element.id]"
                    matTooltip="ویرایش">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="primary" [routerLink]="['/subject/',element.id]"
                    matTooltip=" مشاهده موضوع">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-raised-button color="primary" [routerLink]="['/subject/manage-votes/',element.id]"
                    matTooltip=" مدیریت آرا">
              <mat-icon>poll</mat-icon>
            </button>
            <button mat-raised-button color="primary" [routerLink]="['/subject/manage-comments',element.id]"
                    matTooltip=" مدیریت دیدگاه">
              <mat-icon>dashboard</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="deleteSubject(element.id)"
                    matTooltip="حذف">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!--      <mat-paginator #paginator class="mat-elevation-z8 paginator"-->
      <!--                     showFirstLastButtons-->
      <!--                     [pageSizeOptions]="getPageSizeOptions()">-->
      <!--      </mat-paginator>-->
      <mat-paginator showFirstLastButtons class="mat-elevation-z8 paginator"  #paginator
                     [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
