<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title">
          <mat-icon aria-hidden="false">insert_drive_file</mat-icon>
          مدیریت موضوع
        </div>
        <div class="button">
          <button mat-raised-button color="primary" [routerLink]="['/subject/add']">
            {{'form.add-btn'|translate}}
          </button>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="filterList">
      <mat-icon aria-hidden="false" class="filterListIcon">filter_list</mat-icon>
      <p>فیلتر دسته بندی موضوع</p>
    </div>
    <div class="container" [formGroup]="form">
      <div class="col">
        <div class="row">
          <div>
            <span>دسته بندی :</span>
            <mat-form-field class="mat-form">
              <mat-label>دسته بندی :</mat-label>
              <input type="text" matInput formControlName="parentTitle" [readonly]="true">
              <mat-icon matSuffix style="cursor: pointer" (click)="selectCategory()">mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <span>کاربر ایجاد کننده : </span>
            <mat-form-field class="mat-form">
              <mat-label>کاربر ایجاد کننده :</mat-label>
              <input type="text" matInput formControlName="creatorUser">
            </mat-form-field>
          </div>
          <div>
            <span>وضیعت :</span>
            <mat-radio-group class="mat-form" formControlName="status">
              <mat-radio-button value="true" [value]="true">
                {{'form.status-true'|translate}}</mat-radio-button>
              <mat-radio-button value="false" [value]="false">
                {{'form.status-false'|translate}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>عنوان :</span>
            <mat-form-field class="mat-form">
              <mat-label>عنوان :</mat-label>
              <input type="text" matInput formControlName="title">
              <!--              <mat-icon matSuffix>mode_edit</mat-icon>-->
              <mat-error *ngIf="form.controls['title'].invalid &&
              form.controls['title'].hasError('pattern')">
                عنوان دسته بندی نامعتبر است.
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <span> تاریخ و رمان ایجاد :</span>
            <mat-form-field class="mat-form">
              <mat-label>تاریخ و رمان ایجاد :</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="createDateTime" [readonly]="true">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div>
            <div class="button">
              <button mat-raised-button type="submit" color="primary" (click)="formReset()">
                پاک کردن
              </button>
              <button mat-raised-button color="accent">
                جستجو
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scrolling-container">
      <table mat-table matSort matSortActive="position" matSortDisableClear matSortDirection="asc"
             [dataSource]="dataSource" class="mat-elevation-z8 tableSubject">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by position"> ردیف</th>
          <td class="tableDesign" mat-cell *matCellDef="let element "> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">title</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="categoryId">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> categoryId</th>
          <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="createDateTime">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> createDateTime</th>
          <td mat-cell *matCellDef="let element"> {{element.createDateTime}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="creatorUser">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> creatorUser</th>
          <td mat-cell *matCellDef="let element"> {{element.creatorUser}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>عملیات</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="accent">ویرایش</button>
            <button mat-raised-button color="primary">مشاهده</button>
            <button mat-raised-button color="warn">حذف</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator class="mat-elevation-z8 paginator"
                     showFirstLastButtons
                     [pageSizeOptions]="[3,5,10]">
      </mat-paginator>

    </div>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
