<div class="article">
  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="showSidebar" class="sidebar"
                 *ngIf="router.url !== '/signin' && router.url !== '/signup' && router.url !== '/resetpassword'">
      <img class="avatar mat-elevation-z8" src="..\assets\img\images.jpg">
      <h4 class="name">{{name}}  {{familyName}}</h4>
      <p class="designation">{{'layout.job' | translate }}</p>
      <mat-divider class="divider"></mat-divider>
      <button mat-button class="menu-Button" [routerLink]="['home']">
        <mat-icon>home</mat-icon>
        <span>{{'layout.home' | translate }}</span>
      </button>
      <button mat-button class="menu-Button" [routerLink]="['subject-category']">
        <mat-icon>insert_drive_file</mat-icon>
        <span>{{'layout.category' | translate }}</span>
      </button>
      <button mat-button class="menu-Button" [routerLink]="['subject']">
        <mat-icon>edit_square</mat-icon>
        <span>{{'layout.category-manager' | translate }}</span>
      </button>
      <button mat-button class="menu-Button" [routerLink]="['users-manage']">
        <mat-icon>people</mat-icon>
        <span>{{'layout.users-manager' | translate }}</span>
      </button>
      <button mat-button class="menu-Button" [routerLink]="['forum']">
        <mat-icon>forum</mat-icon>
        <span>{{'layout.forum' | translate }}</span>
      </button>

      <mat-divider class="divider"></mat-divider>
      <button mat-button class="menu-Button">
        <mat-icon>help</mat-icon>
        <span>{{'layout.guide' | translate }}</span>
      </button>

    </mat-sidenav>
    <mat-sidenav-content>
      <article class="main">
        <router-outlet></router-outlet>
      </article>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>
