<mat-card class="matCard">
  <mat-card-title>
    <div class="title">
      <p>{{'form.singUp-title' | translate }}</p>
    </div>
  </mat-card-title>
  <mat-card-content class="mat">
    <div [formGroup]="form" class="loginForm">
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.name' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.name' | translate }}</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-icon matSuffix>people</mat-icon>
              <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].hasError('pattern')">
                {{'form.user-errorPattern'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].hasError('required')">
                {{'form.user-error'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.userName' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.userName' | translate }}</mat-label>
              <input type="text" matInput formControlName="userName"  (focusout)="checkUserName(this.form.controls['userName'].value)" #userName>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="form.controls['userName'].invalid &&
              form.controls['userName'].hasError('minlength')">
                {{'form.userNameChar-error' | translate }}
              </mat-error>
              <mat-error *ngIf="form.controls['userName'].invalid &&
              form.controls['userName'].hasError('maxLength')">
                {{'form.userNameMaxChar-error' | translate }}
              </mat-error>
              <mat-error *ngIf="form.controls['userName'].invalid &&
              form.controls['userName'].hasError('pattern')">
                {{'form.userNamePersianChar-error' | translate }}
              </mat-error>
              <mat-error *ngIf="form.controls['userName'].invalid &&
              form.controls['userName'].hasError('exist')">
                {{'form.userName-exist' | translate }}
              </mat-error>
              <mat-error *ngIf="form.controls['userName'].invalid ">
                {{'form.userName-error' | translate }}
              </mat-error>

            </mat-form-field>
          </div>

          <div>
            <span>{{'form.nationalCode' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.nationalCode' | translate }}</mat-label>
              <input type="text" maxlength="10" matInput formControlName="nationalCode"
                     (focusout)="checkNationalCode(this.form.controls['nationalCode'].value)">
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-error *ngIf="form.controls['nationalCode'].invalid &&
              (form.controls['nationalCode'].hasError('minLength') ||
               form.controls['nationalCode'].hasError('maxLength'))">
                {{'form.nationalCode-wrong'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['nationalCode'].invalid &&
              form.controls['nationalCode'].errors['wrong']">
                {{'form.nationalCode-wrong'|translate}}
              </mat-error>
              <mat-error
                *ngIf="form.controls['nationalCode'].invalid &&
                form.controls['nationalCode'].hasError('required')">
                {{'form.nationalCode-invalid'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['nationalCode'].invalid &&
              form.controls['nationalCode'].hasError('existNationalCode')">
                {{'form.nationalCode-exist' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.gender' | translate }}</span>
            <mat-radio-group class="mat-form radio-group" formControlName="gender">
              <mat-radio-button *ngFor="let gender of gender" [value]="gender.Value"
              >{{gender.viewValue}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">

          <div>
            <span>{{'form.nameFamily' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.nameFamily' | translate }}</mat-label>
              <input type="text" matInput formControlName="nameFamily">
              <mat-icon matSuffix>people_outline</mat-icon>
              <mat-error *ngIf="form.controls['nameFamily'].invalid &&
               form.controls['nameFamily'].hasError('pattern')">
                {{'form.nameFamily-errorPattern'|translate}}
              </mat-error>
              <mat-error
                *ngIf="form.controls['nameFamily'].invalid && form.controls['nameFamily'].hasError('required')">
                {{'form.nameFamily-invalid'|translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <span>{{'form.passWord' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.passWord' | translate }}</mat-label>
              <input type="password" maxlength="10" matInput formControlName="password">
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="form.controls['password'].invalid &&
               form.controls['password'].hasError('required') ">
                {{'form.passWord-error' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.DateOfBirth' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.DateOfBirth' | translate }}</mat-label>
              <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate" formControlName="DateOfBirth" [readonly]="true">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-icon matIconSuffix *ngIf="this.form.controls['DateOfBirth'].value"
                        style="cursor: pointer" (click)="resetDateOfBirth()">delete</mat-icon>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="form.controls['DateOfBirth'].invalid ">
                {{'form.DateOfBirth-invalid' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

        </div>
      </div>

    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <div class="button">
    <button mat-raised-button color="primary"
            (click)="submit()" [disabled]="form.invalid">{{'form.registerButton' | translate }}</button>
    <button mat-raised-button color="accent"
            [routerLink]="['/signin']">{{'form.cancel-btn' | translate }}</button>
  </div>
  <mat-card-footer>
    <div class="footerLoginform">
      <div>
        <img class="avatar" src="..\assets\img\angular.png">
        <p>{{'layout.projectName' | translate }}</p>
      </div>
      <p>{{'layout.appVersion' | translate }}</p>
    </div>
  </mat-card-footer>
</mat-card>
