.header-card {
  display: block;
  padding: 0;
}

.title-container {
  display: flex;
  width: 100%;
  position: unset;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button button {
  margin: 10px;
}


.header-card {
  padding: 10px;
  height: 50px;

}

.card-header-title {
  font-family: BTitrBold;
  font-weight: bold;
  font-size: 25px;
}

.footer-card {
  height: 20px;
  margin-top: 10px;
}

.header-card1 {
  min-height: 450px;
}

.button button {
  margin: 10px 10px;
  font-family: BYekan;
  font-weight: bold;
  font-size: 15px;
}

:host ::ng-deep .pie-label {
  font-size: 20px;
  width: 50px;
}


.dataContainer {
  width: 20%;
  height: 600px;
}

.container {
  margin-top: 20px;
  display: flex;
  min-height: 280px;
  padding: 0;
}

.col1 {
  flex-direction: column;
  width: 85%;
  margin: 0 10px;
  align-items: flex-start;
  margin-bottom: 10px;

}

.col2 {
  flex-direction: column;
  width: 15%;
  margin: 0 10px;
  align-items: flex-start;
  margin-bottom: 10px;

}

.pchart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}

.pchart div {
  width: 200px;
  height: 100px;
  margin: 0 10px;

}
.charts-vertical{
  margin-bottom: 30px;
}
.pchart div h2{
  margin: 0;
  background: #c7c7c7;
  font-size: 20px;
}
.pchart div p{
  margin: 0;
  padding: 10px;
  background: #e5e5e5;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;


}
.row div{
  height: 500px;
}
.row1 div{
  height: 600px;

}
.row p{
  margin: 0;
  margin-bottom: 20px;
  text-align: right;
  font-size: 20px;
  font-family: BTitrBold;
}
.pchart div p{
  text-align: center;
}
.chartWidth{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 1279px;
}

.chartLineWidth{
  height: 800px;
  width: 800px;
}
