<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title">
          <mat-icon aria-hidden="false">insert_drive_file</mat-icon>
         {{'layout.chart' | translate}}
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
<!--    <div class="container">-->
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div class="pchart">-->
<!--            <p>ffsffs</p>-->
<!--            <p-chart type="pie" [data]="data" [options]="options"></p-chart>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="pchart">-->
<!--            <p-chart type="pie" [data]="dataSubject" [options]="options"></p-chart>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="pchart">-->
<!--            <p-chart type="pie" [data]="dataUsers" [options]="options"></p-chart>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <!--        <div>-->
    <!--          <ngx-charts-bar-vertical class="charts-bar"-->
    <!--                                   [results]="single"-->
    <!--                                   [gradient]="gradient"-->
    <!--                                   [xAxis]="showXAxis"-->
    <!--                                   [yAxis]="showYAxis"-->
    <!--                                   [legend]="showLegend"-->
    <!--                                   [showXAxisLabel]="showXAxisLabel"-->
    <!--                                   [showYAxisLabel]="showYAxisLabel"-->
    <!--                                   [xAxisLabel]="xAxisLabel"-->
    <!--                                   [yAxisLabel]="yAxisLabel"-->
    <!--                                   (select)="onSelect($event)">-->
    <!--          </ngx-charts-bar-vertical>-->
    <!--        </div>-->
    <!--        <div>-->
    <!--          <h1>2.)pair</h1>-->
    <!--          <ngx-charts-bar-vertical-2d class="charts-vertical"-->

    <!--                                      [results]="multi"-->
    <!--                                      [gradient]="gradient"-->
    <!--                                      [xAxis]="showXAxis"-->
    <!--                                      [yAxis]="showYAxis"-->
    <!--                                      [legend]="showLegend"-->
    <!--                                      [showXAxisLabel]="showXAxisLabel"-->
    <!--                                      [showYAxisLabel]="showYAxisLabel"-->
    <!--                                      [xAxisLabel]="xAxisLabel"-->
    <!--                                      [yAxisLabel]="yAxisLabel"-->
    <!--                                      (select)="onSelect($event)">-->
    <!--          </ngx-charts-bar-vertical-2d>-->
    <!--          <hr>-->
    <!--        </div>-->
    <!--        <div>-->
    <!--          <h1>3.)Pai-chart</h1>-->
    <!--          <ngx-charts-pie-chart class="charts-pie"-->
    <!--                                [view]="viewpie"-->
    <!--                                [results]="single"-->
    <!--                                [legend]="showLegend"-->
    <!--                                [explodeSlices]="explodeSlices"-->
    <!--                                [labels]="showLabels"-->
    <!--                                [doughnut]="doughnut"-->
    <!--                                [gradient]="gradient"-->
    <!--          >-->
    <!--          </ngx-charts-pie-chart>-->
    <!--        </div>-->
    <!--        <div>-->
    <!--          <h1>3.)Pai-chart</h1>-->
    <!--          <ngx-charts-pie-chart class="charts-pie"-->
    <!--                                [view]="viewpie"-->
    <!--                                [results]="single"-->
    <!--                                [legend]="showLegend"-->
    <!--                                [explodeSlices]="explodeSlices"-->
    <!--                                [labels]="showLabels"-->
    <!--                                [doughnut]="doughnut"-->
    <!--                                [gradient]="gradient"-->
    <!--          >-->
    <!--          </ngx-charts-pie-chart>-->
    <!--        </div>-->


    <!--      </div>-->


  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
