<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title">
          <mat-icon aria-hidden="false">insert_drive_file</mat-icon>
          {{'layout.chart' | translate}}
        </div>
        <!--        <div class="button">-->
        <!--          <button mat-raised-button color="primary" (click)="refresh()">-->
        <!--          رفرش-->
        <!--          </button>-->
        <!--        </div>-->
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <div class="container">
      <div class="col1">
        <div class="row">
          <div>
            <p>{{'chart.category-chart'|translate}}</p>
            <div class="chartWidth">
              <p-chart type="pie" [data]="this.data" [options]="options"></p-chart>
            </div>

          </div>
          <hr>
          <div>
            <p>{{'chart.subject-chart'|translate}}</p>
            <div class="chartWidth">
              <p-chart type="pie" [data]="this.dataSubject" [options]="options"></p-chart>
            </div>

          </div>
          <hr>
          <div>
            <p>{{'chart.users-chart'|translate}}</p>
            <div class="chartWidth">
              <p-chart type="pie" [data]="this.dataUsers" [options]="options"></p-chart>
            </div>
          </div>
          <hr>
          <div>
            <p>مقالات و کاربران ثبت شده:</p>
            <div>
              <div class="chartLineWidth">
                <p-chart type="bar" [data]="saveSubject" [options]="options"></p-chart>
              </div>
              <!--              <ngx-charts-bar-vertical-2d class="charts-vertical"-->

              <!--                                          [results]="multi"-->
              <!--                                          [gradient]="gradient"-->
              <!--                                          [xAxis]="showXAxis"-->
              <!--                                          [yAxis]="showYAxis"-->
              <!--                                          [legend]="showLegend"-->
              <!--                                          [showXAxisLabel]="showXAxisLabel"-->
              <!--                                          [showYAxisLabel]="showYAxisLabel"-->
              <!--                                          [xAxisLabel]="xAxisLabel"-->
              <!--                                          [yAxisLabel]="yAxisLabel"-->
              <!--              >-->
              <!--              </ngx-charts-bar-vertical-2d>-->
            </div>
          </div>
          <!--          <hr>-->
          <!--          <div>-->
          <!--            <p>{{'chart.vote-save'|translate}}</p>-->
          <!--            <div class="chartLineWidth">-->
          <!--              <p-chart type="bar" [data]="saveSubject" [options]="options"></p-chart>-->
          <!--            </div>-->

          <!--          </div>-->
        </div>
      </div>
      <div class="col2">
        <div class="row">
          <div class="pchart">
            <div>
              <h2>{{'chart.category-exist'|translate}} </h2>
              <p>{{this.subjectCategory}}</p>
            </div>
            <div>
              <h2>{{'chart.category-en'|translate}} </h2>
              <p>{{this.activeCategory}}</p>
            </div>
            <div>
              <h2>{{'chart.category-dn'|translate}} </h2>
              <p>{{this.inactiveCategory}}</p>
            </div>
          </div>
          <hr>
          <div class="pchart">
            <div>
              <h2>{{'chart.subject-exist'|translate}}</h2>
              <p>{{this.subject}}</p>
            </div>
            <div>
              <h2>{{'chart.subject-en'|translate}}</h2>
              <p>{{this.activeSubject}}</p>
            </div>
            <div>
              <h2>{{'chart.subject-dn'|translate}} </h2>
              <p>{{this.inactiveSubject}}</p>
            </div>
          </div>
          <hr>
          <div class="pchart">
            <div>
              <h2>{{'chart.users-exist'|translate}} </h2>
              <p>{{this.allUser}}</p>
            </div>
            <div>
              <h2>{{'chart.users-en'|translate}} </h2>
              <p>{{this.usersStatusConfirm}}</p>
            </div>
            <div>
              <h2>{{'chart.users-dn'|translate}}</h2>
              <p>{{this.usersStatusReject}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
