<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title" *ngIf="formMode=== 0">
          <mat-icon>insert_drive_file</mat-icon>
          {{'form.add-btn'|translate}}
        </div>
        <div class="card-header-title" *ngIf="formMode===1">
          <mat-icon>insert_drive_file</mat-icon>
          {{'form.edit-btn'|translate}}</div>
        <div class="card-header-title" *ngIf="formMode===2">
          <mat-icon>insert_drive_file</mat-icon>
          {{'form.show-btn'|translate}}</div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div [formGroup]="form" class="subjectCategoryForm">
      <div class="col">
        <div class="row">
          <div>
            <span> {{'form.parent'|translate}}</span>
            <mat-form-field class="mat-form" >
              <mat-label> {{'form.parent'|translate}}</mat-label>
              <input type="text" matInput  formControlName="parentTitle"[readonly]="formMode===2">
              <mat-icon matSuffix (click)="selectParent()" style="cursor: pointer" *ngIf="formMode!==2" >mode_edit</mat-icon>
              <mat-error *ngIf="form.controls['parentId'].invalid &&
              form.controls['parentId'].hasError('required')">
                {{'form.parent-error'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>  {{'form.priority'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>  {{'form.priority'|translate}}</mat-label>
              <input type="number" matInput formControlName="priority" [min]="1" [max]="10" [readonly]="formMode===2">
              <mat-error *ngIf="form.controls['priority'].invalid &&
              form.controls['priority'].hasError('required')">
                {{'form.priority-error'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['priority'].invalid &&
              (form.controls['priority'].hasError('max') ||
               form.controls['priority'].hasError('min'))">
                {{'form.priority-error-max'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span> {{'form.title'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label> {{'form.title'|translate}}</mat-label>
              <input type="text" matInput formControlName="title" [readonly]="formMode===2">
              <mat-error *ngIf="form.controls['title'].invalid && form.controls['title'].hasError('maxlength')">
                {{'form.title-error-maxlength'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['title'].invalid &&
              form.controls['title'].hasError('required')">
                {{'form.title-error-required'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.status'|translate}}</span>
            <mat-radio-group class="mat-form" formControlName="status"  >
              <mat-radio-button value="true" [value]="true" [disabled]="formMode===2">
                {{'form.status-true'|translate}}</mat-radio-button>
              <mat-radio-button value="false" [value]="false" [disabled]="formMode===2">
                {{'form.status-false'|translate}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <div class="button">
      <button mat-raised-button type="submit" color="primary" (click)="editSubjectCategory()"
              [disabled]="form.invalid" [hidden]="formMode===2">
        <span *ngIf="formMode===0"> {{'form.add-btn'|translate}}</span>
        <span *ngIf="formMode===1">
          {{'form.edit-btn'|translate}}
        </span>
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/subject-category']" (click)="enableBtn()">
        {{'form.exit-btn'|translate}}
      </button>
    </div>
  </mat-card-footer>
</mat-card>
