<mat-card>
  <mat-card-title>
    <div class="title">
      <p> {{'recoveryPasswordComponent.recoveryPasswordComponent-title' | translate }}</p>
    </div>
  </mat-card-title>
  <mat-card-content>

    <div class="button">
      <button mat-raised-button color="accent">
        {{'recoveryPasswordComponent.recoveryPasswordComponent-recovery-btn' | translate }}</button>
      <button mat-raised-button color="accent" [routerLink]="['/signin']">
        {{'recoveryPasswordComponent.recoveryPasswordComponent-cancel-btn' | translate }}</button>
    </div>


  </mat-card-content>
  <div class="footerLoginform">
    <div>
      <img class="avatar" src="..\assets\img\angular.png">
      <p>{{'recoveryPasswordComponent.recoveryPasswordComponent-nameApp' | translate }}</p>
    </div>
    <p>{{'recoveryPasswordComponent.recoveryPasswordComponent-AppVersion' | translate }}</p>
  </div>
</mat-card>
