<mat-card>
  <mat-card-title>
    <div class="title">
      <p>بازیابی کلمه عبور</p>
    </div>
  </mat-card-title>
  <mat-card-content>

    <div class="button">
      <button mat-raised-button color="accent">بازیابی پسورد</button>
      <button mat-raised-button color="accent" [routerLink]="['/signin']">انصراف</button>
    </div>

    
  </mat-card-content>
  <div class="footerLoginform">
    <div>
      <img class="avatar" src="..\assets\img\angular.png">
      <p>تالار گفتگو</p>
    </div>
    <p>ورژن 1.0.0</p>
  </div>
</mat-card>
