<mat-card>
  <mat-card-title>
    <div class="title">
      <p> {{'form.recoveryPassword-title' | translate }}</p>
    </div>
  </mat-card-title>
  <mat-card-content>

    <div class="button">
      <button mat-raised-button color="accent">
        {{'form.recoveryPasswordBtn' | translate }}</button>
      <button mat-raised-button color="accent" [routerLink]="['/signin']">
        {{'form.cancel-btn' | translate }}</button>
    </div>


  </mat-card-content>
  <div class="footerLoginform">
    <div>
      <img class="avatar" src="..\assets\img\angular.png">
      <p>{{'layout.projectName' | translate }}</p>
    </div>
    <p>{{'layout.appVersion' | translate }}</p>
  </div>
</mat-card>
