.button button {
  margin: 10px 10px;
  font-family: BYekan;
  font-weight: bold;
  font-size: 15px;
}
.header-card{
  background-color: #3f51b5;
  padding: 16px;
}
.title-container{
  color: white;
  font-family: BTitrBold;
  font-weight: bold;
  font-size: 25px;
  padding: 0;

}
.subjectCategoryForm {
  margin-top: 30px;
  display: flex;
  height: 320px;
  /*justify-content: center;*/
  /*align-items: center;*/
  padding: 0
}
.col{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 10px;
  /*justify-content: space-between;*/
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
.row div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.row span {
  width: 24%;
  font-family: BYekan-bold;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
/*.subjectCategoryForm div {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  !*justify-content: space-around;*!*/
/*  align-items: center;*/
/*  width: 1000px;*/
/*  margin: 10px;*/
/*}*/
.header-card1{
  margin-bottom: 10px;
}
.mat-form {
  width: 320px;
  padding: 0;
}

.mat-form input {
  width: 320px;
  padding: 0;
}

