<div class="edit-course-form">

  <h2 mat-dialog-title>آیا میخواهید دسته موضوع مورد نظر حذف شود؟ </h2>

  <mat-dialog-content>

  </mat-dialog-content>
  <mat-dialog-actions class="button">
    <button mat-raised-button color="warn"
            (click)="delete()">{{"logout-UserComponent.logout-UserComponent-yesButton" | translate}}</button>
    <button mat-raised-button color="primary"
            (click)="close()">{{"logout-UserComponent.logout-UserComponent-noButton" | translate}}</button>
  </mat-dialog-actions>

</div>
