<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title">مشاهده</div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <h1>عنوان :</h1>
        <span>{{user.title}}</span>
      </div>
      <div class="row">
        <h1> ID : </h1>
        <span>{{user.id}}</span>
      </div>
      <div class="row">
        <h1> تاریخ انتشار :</h1>
        <span> {{user.createDateTime | time}}</span>
      </div>
      <div class="row">
        <h1> وضیعت :</h1>
        <span>{{user.status}}</span>
      </div>
    </div>

  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <div class="button">
      <button mat-raised-button color="accent" [routerLink]="['/home/subject-category']" (click)="enableBtn()">
        بازگشت
      </button>
    </div>
  </mat-card-footer>
</mat-card>
