.button button{
  margin: 10px 10px;
  font-family: BYekan;
  font-weight: bold;
  font-size: 15px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}
.row h1{
  font-family: BYekan-bold;
  font-size: 25px;
}
.row span{
  font-family: BYekan;
  font-size: 20px;
}
.header-card1{
  margin-bottom: 10px;
}
.header-card{
  background-color: #3f51b5;
  padding: 16px;
}
.title-container{
  color: white;
  font-family: BTitrBold;
  font-weight: bold;
  font-size: 25px;
  padding: 0;
}
