.footer {
  background: #3f51b5 ;
  height: 80px;
  padding: 5px;
  margin: 0;
}

.center-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
}

.main-footer {

  width: 100%;
}


.l-footer p{

  font-family: BYekan-bold;
  color: white;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-character;
}

.footer-column {
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  align-items: center;

}

.r-footer{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.l-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.avatar {
  width: 40px;
  height: 40px;

}

