<footer class="footer">
  <div class="main-footer">
    <div class="footer-column">
      <div class="r-footer">
        <p>{{'form.time' | translate }}</p>
        {{a | time}}
<!--                <h3>{{todayJalali}}</h3>-->
      </div>
      <div class="center-footer">
        <p>
          {{'layout.projectName' | translate }}
        </p>
      </div>
      <div class="l-footer">
        <img class="avatar" src="..\assets\img\angular.png">
        <p>
          {{'layout.appVersion' | translate }}
        </p>

      </div>
    </div>
  </div>
</footer>
