<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>تغییر کلمه عبور</mat-card-title>
  </mat-card-header>
  <mat-divider class="mt-divider"></mat-divider>
  <mat-card-content class="container">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="container1">
          <div class="grid-list">
            <span class="grid-list-name">کلمه عبور جاری :</span>
            <mat-form-field>
              <mat-label>کلمه عبور جاری :</mat-label>
              <input type="text" matInput>
            </mat-form-field>
          </div>
          <div class="grid-list">
            <span class="grid-list-name">کلمه عبور جدید :</span>
            <mat-form-field>
              <mat-label>کلمه عبور جدید :</mat-label>
              <input type="text" matInput #myInput>
            </mat-form-field>
          </div>
          <div class="grid-list">
            <span class="grid-list-name">تکرار کلمه عبور جدید:</span>


            <mat-form-field>
              <mat-label>تکرار کلمه عبور جدید:</mat-label>
              <input type="text" matInput #myInput>
            </mat-form-field>


          </div>
        </div>

      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
  <mat-divider class="mt-divider"></mat-divider>
  <mat-card-footer class="footer-card">
    <div class="button">
      <button mat-raised-button type="submit" color="primary">ذخیره
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/home']">انصراف</button>

    </div>
  </mat-card-footer>
</mat-card>
