
.grid-list{

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /*flex-wrap: wrap;*/
}
.grid-list span{
   width: 30%;
}

.grid-list > * {
 right: 0;
  width: 100%;

}
.grid-list-name{
  height: 20px;
  width: 20%;
}
.container{
  display: flex;
  position: unset;
  flex-direction: column;
}
.container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header-card{
  height: 50px;
  margin-bottom: 10px;
}
.footer-card{
  height: 20px;
  margin-top: 10px;
}
.header-card1{
 height: 450px;
}
.button button{
  margin: 10px 10px;
}
