<mat-card class="header-card1">
  <mat-card-header class="header-card">
    <mat-card-title>
      <div class="title-container">
        <div class="card-header-title" *ngIf="formMode=== 0">
          <mat-icon>people</mat-icon>
          {{'form.add-users-manage'|translate}}
        </div>
        <div class="card-header-title" *ngIf="formMode===1">
          <mat-icon>people</mat-icon>
          {{'form.edit-users-manage'|translate}}</div>
        <div class="card-header-title" *ngIf="formMode===2">
          <mat-icon>people</mat-icon>
          {{'form.view-users-manage'|translate}}</div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div [formGroup]="manageUsersForm" class="detailUsersForm">
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.userName' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.userName' | translate }}</mat-label>
              <input type="text" matInput formControlName="userName"  [readonly]="formMode===2"
                     (input)="checkUserName($event)">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="manageUsersForm.controls['userName'].invalid &&
              manageUsersForm.controls['userName'].hasError('minlength')">
                {{'form.userNameChar-error' | translate }}
              </mat-error>
              <mat-error *ngIf="manageUsersForm.controls['userName'].invalid &&
              manageUsersForm.controls['userName'].hasError('maxLength')">
                {{'form.userNameMaxChar-error' | translate }}
              </mat-error>
              <mat-error *ngIf="manageUsersForm.controls['userName'].invalid &&
              manageUsersForm.controls['userName'].hasError('pattern')">
                {{'form.userNamePersianChar-error' | translate }}
              </mat-error>
              <mat-error *ngIf="manageUsersForm.controls['userName'].invalid &&
              manageUsersForm.controls['userName'].hasError('existUserName')">
                {{'form.userName-exist' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="formMode===0">
            <span>{{'form.passWord' | translate }}</span>
            <mat-form-field class="mat-form" >
              <mat-label>{{'form.passWord' | translate }}</mat-label>
              <input type="password" matInput formControlName="password" >
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="manageUsersForm.controls['password'].invalid ">
                {{'form.passWord-error' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.name' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.name' | translate }}</mat-label>
              <input type="text" matInput formControlName="name"  [readonly]="formMode===2">
              <mat-icon matSuffix>people</mat-icon>
              <mat-error
                *ngIf="manageUsersForm.controls['name'].invalid &&
                manageUsersForm.controls['name'].hasError('pattern')">
                {{'form.user-errorPattern'|translate}}
              </mat-error>
              <mat-error
                *ngIf="manageUsersForm.controls['name'].invalid &&
                 manageUsersForm.controls['name'].hasError('required')">
                {{'form.user-error'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.nationalCode' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.nationalCode' | translate }}</mat-label>
              <input type="text"  maxlength="10" matInput formControlName="nationalCode"  [readonly]="formMode===2"
                     (input)="checkNationalCode($event)">
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-error *ngIf="manageUsersForm.controls['nationalCode'].invalid &&
              (manageUsersForm.controls['nationalCode'].hasError('minLength') ||
               manageUsersForm.controls['nationalCode'].hasError('maxLength'))">
                {{'form.nationalCode-wrong'|translate}}
              </mat-error>
              <mat-error *ngIf="manageUsersForm.controls['nationalCode'].invalid &&
              manageUsersForm.controls['nationalCode'].errors['wrong']">
                {{'form.nationalCode-wrong'|translate}}
              </mat-error>
              <mat-error
                *ngIf="manageUsersForm.controls['nationalCode'].invalid &&
                manageUsersForm.controls['nationalCode'].hasError('required')">
                {{'form.nationalCode-invalid'|translate}}
              </mat-error>
              <mat-error *ngIf="manageUsersForm.controls['nationalCode'].invalid &&
              manageUsersForm.controls['nationalCode'].hasError('existNationalCode')">
                {{'form.nationalCode-exist'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div  *ngIf="!(formMode===0 || formMode===1)">
            <span>{{'form.isAdmin' | translate }}</span>
            <mat-radio-group class="mat-form radio-group" formControlName="isAdmin">
              <mat-radio-button *ngFor="let isAdmin of isAdmin"
                                [value]="isAdmin"
                                [disabled]="formMode===2">{{isAdminUsersStatus(isAdmin)}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.status' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.status' | translate }}</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let status of status" [value]="status.statusValue" [disabled]="formMode===2">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.nameFamily' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.nameFamily' | translate }}</mat-label>
              <input type="text" matInput formControlName="nameFamily"  [readonly]="formMode===2">
              <mat-icon matSuffix>people_outline</mat-icon>
              <mat-error *ngIf="manageUsersForm.controls['nameFamily'].invalid &&
               manageUsersForm.controls['nameFamily'].hasError('pattern')">
                {{'form.nameFamily-errorPattern'|translate}}
              </mat-error>
              <mat-error
                *ngIf="manageUsersForm.controls['nameFamily'].invalid &&
                 manageUsersForm.controls['nameFamily'].hasError('required')">
                {{'form.nameFamily-invalid'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.DateOfBirth' | translate }}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.DateOfBirth' | translate }}</mat-label>
              <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate" formControlName="DateOfBirth" [readonly]="true">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-icon matIconSuffix *ngIf="this.manageUsersForm.controls['DateOfBirth'].value && formMode!==2"
                        style="cursor: pointer" (click)="resetDateOfBirth()">delete</mat-icon>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [disabled]="formMode===2"></mat-datepicker>
              <mat-error *ngIf="manageUsersForm.controls['DateOfBirth'].invalid ">
                {{'form.DateOfBirth-invalid' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.gender' | translate }}</span>
            <mat-radio-group class="mat-form radio-group" formControlName="gender">
              <mat-radio-button *ngFor="let gender of gender" [value]="gender.Value"
                                [disabled]="formMode===2">{{gender.viewValue}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <div class="button">
      <button mat-raised-button type="submit" color="primary" [disabled]="manageUsersForm.invalid" (click)="editSubjectCategory()"
          *ngIf="formMode===0">
        <span > {{'form.add-btn'|translate}}</span>
      </button>
      <button mat-raised-button type="submit" color="primary"  (click)="editSubjectCategory()"
              *ngIf="formMode===1">
        <span >
          {{'form.edit-btn'|translate}}
        </span>
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/users-manage']">
        {{'form.exit-btn'|translate}}
      </button>
    </div>
  </mat-card-footer>
</mat-card>
