<mat-card class="mt-card">
  <mat-card-header class="card-header">
    <mat-card-title>ویرایش پروفایل</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="mat">
    <div class="container" [formGroup]="form">
      <div class="col">
        <div class="row">
          <div>
            <span>نام کاربری :</span>
            <mat-form-field class="mat-form" >
              <mat-label>نام کاربری :</mat-label>
              <input type="text" matInput formControlName="name" [disabled]="a" >
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <span>نام :</span>
            <mat-form-field class="mat-form">

              <mat-label>نام :</mat-label>
              <input type="text" matInput  formControlName="name">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>

          <div>
            <span>جنسیت :</span>
            <mat-radio-group class="mat-form"  formControlName="gender">
              <mat-radio-button *ngFor="let gender of gender" [value]="gender">{{gender}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>کدملی :</span>
            <mat-form-field class="mat-form">
              <mat-label>کدملی :</mat-label>
              <input type="text" matInput  formControlName="nationalCode">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <span>نام خانوادگی :</span>
            <mat-form-field class="mat-form">
              <mat-label>نام خانوادگی :</mat-label>
              <input type="text" matInput  formControlName="nameFamily" >
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <span>تاریخ تولد:</span>
            <mat-form-field class="mat-form">
              <mat-label>تاریخ تولد:</mat-label>
              <input matInput [matDatepicker]="picker"  formControlName="DateOfBirth">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
      </div>

    </div>


  </mat-card-content>
  <mat-divider class="mt-divider"></mat-divider>
  <mat-card-footer>
    <div class="button">
      <button mat-raised-button type="submit" color="primary" (click)="submit()">ذخیره
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/home']">انصراف</button>

    </div>

  </mat-card-footer>

</mat-card>


<!--<mat-grid-list cols="2" rowHeight="100px">-->
<!--  <mat-grid-tile>عنوان ۱</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۲</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۳</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۴</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۵</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۶</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۷</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۸</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۹</mat-grid-tile>-->
<!--</mat-grid-list>-->
