<mat-card class="mt-card">
  <mat-card-header class="card-header">
    <mat-card-title class="card-header-title">
      {{'form.edit-title'|translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="mat">
    <div class="container" [formGroup]="form">
      <div class="col">
        <div class="row">
          <div>
            <span> {{'form.userName'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.userName'|translate}}</mat-label>
              <input type="text" matInput formControlName="userName" [readonly]="true" >
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.name'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.name'|translate}}</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-icon matSuffix>people</mat-icon>
              <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].hasError('pattern')">
                {{'form.user-errorPattern'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].hasError('required')">
                {{'form.user-error'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'form.gender'|translate}}</span>
            <mat-radio-group class="mat-form radio-group" formControlName="gender">
              <mat-radio-button *ngFor="let gender of gender" [value]="gender">{{gender}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>{{'form.nationalCode'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.nationalCode'|translate}}</mat-label>
              <input type="text" maxlength="10" matInput formControlName="nationalCode"
                     (input)="checkNationalCode($event)">
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-error *ngIf="form.controls['nationalCode'].invalid &&
              (form.controls['nationalCode'].hasError('minLength') ||
               form.controls['nationalCode'].hasError('maxLength'))">
                {{'form.nationalCode-invalid'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['nationalCode'].invalid &&
              form.controls['nationalCode'].errors['wrong']">
                {{'form.nationalCode-wrong'|translate}}
              </mat-error>
              <mat-error
                *ngIf="form.controls['nationalCode'].invalid && form.controls['nationalCode'].hasError('required')">
                {{'form.nationalCode-invalid'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['nationalCode'].invalid &&
              form.controls['nationalCode'].hasError('existNationalCode')">
                {{'form.nationalCode-exist' | translate }}
              </mat-error>
            </mat-form-field>

          </div>
          <div>
            <span> {{'form.nameFamily'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'form.nameFamily'|translate}}</mat-label>
              <input type="text" matInput formControlName="nameFamily">
              <mat-icon matSuffix>people_outline</mat-icon>
              <mat-error *ngIf="form.controls['nameFamily'].hasError('pattern')">
                {{'form.nameFamily-errorPattern'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].hasError('required')">
                {{'form.nameFamily-invalid'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>  {{'form.DateOfBirth'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label> {{'form.DateOfBirth'|translate}}</mat-label>
              <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate" formControlName="DateOfBirth" [readonly]="true">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-icon matIconSuffix *ngIf="this.form.controls['DateOfBirth'].value" style="cursor: pointer" (click)="resetDateOfBirth()">delete</mat-icon>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider class="mt-divider"></mat-divider>
  <mat-card-footer>
    <div class="button">
      <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid" (click)="submit()" #myInput>
        {{'form.save-btn'|translate}}
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/home']">
        {{'form.cancel-btn'|translate}}
      </button>
    </div>
  </mat-card-footer>
</mat-card>


<!--<mat-grid-list cols="2" rowHeight="100px">-->
<!--  <mat-grid-tile>عنوان ۱</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۲</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۳</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۴</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۵</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۶</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۷</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۸</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۹</mat-grid-tile>-->
<!--</mat-grid-list>-->
