
.mat{
  padding: 0px;
  margin-top: 10px;
}
.container{
  margin-top: 20px;
  display: flex;
  height: 400px;
  /*justify-content: center;*/
  /*align-items: center;*/
  padding: 0;
}
.col{
  flex-direction: column;
  width: 50%;
  margin: 0 10px;
  align-items: flex-start;

}
.row{
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.mat-form{
  width: 100%;
}
.card-header-title{
  font-family: BTitrBold;
  font-weight: bold;
  font-size: 25px;
}
.card-header{

  height: 30px;
  margin-bottom: 10px ;
}

.row div  {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.row span  {
  width: 30%;
  font-family: BYekan-bold;
  font-size: 18px;
  font-weight: bold;
  color: #000000;

}
.button button{
  margin: 10px 10px;
  font-family: BYekan;
  font-weight: bold;
  font-size: 15px;
}
