<mat-card class="mt-card">
  <mat-card-header class="card-header">
    <mat-card-title class="card-header-title">
      {{'edit-UserComponent.edit-UserComponent-title'|translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="mat">
    <div class="container" [formGroup]="form">
      <div class="col">
        <div class="row">
          <div>
            <span> {{'edit-UserComponent.edit-UserComponent-userName-span'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'edit-UserComponent.edit-UserComponent-userName-mat-label'|translate}}</mat-label>
              <input type="text" matInput formControlName="userName" [readonly]="true">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <span>{{'edit-UserComponent.edit-UserComponent-name-span'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'edit-UserComponent.edit-UserComponent-name-mat-label'|translate}}</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].hasError('pattern')">
                {{'edit-UserComponent.edit-UserComponent-name-pattern'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].hasError('required')">
                {{'edit-UserComponent.edit-UserComponent-name-invalid'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>{{'edit-UserComponent.edit-UserComponent-gender-span'|translate}}</span>
            <mat-radio-group class="mat-form" formControlName="gender">
              <mat-radio-button *ngFor="let gender of gender" [value]="gender">{{gender}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div>
            <span>{{'edit-UserComponent.edit-UserComponent-nationalCode-span'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'edit-UserComponent.edit-UserComponent-nationalCode-mat-label'|translate}}</mat-label>
              <input type="text" matInput formControlName="nationalCode">
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="form.controls['nationalCode'].invalid &&
              (form.controls['nationalCode'].hasError('minLength') ||
               form.controls['nationalCode'].hasError('maxLength'))">
                {{'edit-UserComponent.edit-UserComponent-nationalCode-maxLength'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['nationalCode'].invalid &&
              form.controls['nationalCode'].errors['wrong']">
                {{'edit-UserComponent.edit-UserComponent-nationalCode-wrong'|translate}}
              </mat-error>
              <mat-error
                *ngIf="form.controls['nationalCode'].invalid && form.controls['nationalCode'].hasError('required')">
                {{'edit-UserComponent.edit-UserComponent-nationalCode-invalid'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span> {{'edit-UserComponent.edit-UserComponent-nameFamily-span'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label>{{'edit-UserComponent.edit-UserComponent-userName-mat-label'|translate}}</mat-label>
              <input type="text" matInput formControlName="nameFamily">
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="form.controls['nameFamily'].hasError('pattern')">
                {{'edit-UserComponent.edit-UserComponent-nameFamily-pattern'|translate}}
              </mat-error>
              <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].hasError('required')">
                {{'edit-UserComponent.edit-UserComponent-nameFamily-invalid'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <span>  {{'edit-UserComponent.edit-UserComponent-DateOfBirth-span'|translate}}</span>
            <mat-form-field class="mat-form">
              <mat-label> {{'edit-UserComponent.edit-UserComponent-DateOfBirth-mat-label'|translate}}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="DateOfBirth" [readonly]="true">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider class="mt-divider"></mat-divider>
  <mat-card-footer>
    <div class="button">
      <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid" (click)="submit()" #myInput>
        {{'edit-UserComponent.edit-UserComponent-saveButton'|translate}}
      </button>
      <button mat-raised-button color="accent" [routerLink]="['/home']">
        {{'edit-UserComponent.edit-UserComponent-cancelButton'|translate}}
      </button>
    </div>
  </mat-card-footer>
</mat-card>


<!--<mat-grid-list cols="2" rowHeight="100px">-->
<!--  <mat-grid-tile>عنوان ۱</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۲</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۳</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۴</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۵</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۶</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۷</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۸</mat-grid-tile>-->
<!--  <mat-grid-tile>عنوان ۹</mat-grid-tile>-->
<!--</mat-grid-list>-->
