<header class="header">
  <mat-toolbar class="toolbar" color="primary">
    <div class="toolbar-right">
      <a mat-button (click)="showSidebar()">
        <mat-icon *ngIf="sidebarStatus">close</mat-icon>
        <mat-icon *ngIf="!sidebarStatus">menu</mat-icon>
      </a>
      <img class="avatar" src="..\assets\img\angular.png">
      <p>{{'layout.projectName' | translate }}</p>
    </div>
    <div class="toolbar-left">
      <img class="avatar mat-elevation-z8" src="..\assets\img\images.jpg">
      <a mat-button [matMenuTriggerFor]="dropdown">
        <mat-icon>person</mat-icon>
        <span>{{name}}  {{familyName}}</span>
      </a>
      <mat-menu #dropdown>
        <button mat-menu-item [routerLink]="['profile']" RouterLinkActive="['active']">
          <mat-icon>person</mat-icon>
          <span> {{'layout.editUser-btn' | translate }} </span>
        </button>
        <button mat-menu-item [routerLink]="['changePassword']">

          <mat-icon>login</mat-icon>
          <span>{{'layout.changePassword-btn' | translate }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>library_books</mat-icon>
          <span>{{'layout.exit-btn' | translate }}</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar>
</header>
