<div class="article">
  <mat-sidenav-container >
    <mat-sidenav mode="side" [(opened)]="showSidebar" class="sidebar">
      <img class="avatar mat-elevation-z8" src="..\assets\img\images.jpg">
      <h4 class="name">{{name}}-{{familyName}}</h4>
      <p class="designation">Software Engineer</p>
      <mat-divider class="divider"></mat-divider>
      <button mat-button class="menu-Button">
        <mat-icon>home</mat-icon>
        <span>خانه</span>
      </button>
      <button mat-button class="menu-Button">
        <mat-icon>person</mat-icon>
        <span>پروفایل</span>
      </button>
      <button mat-button class="menu-Button">
        <mat-icon>info</mat-icon>
        <span>توضیحات</span>
      </button>
      <mat-divider class="divider"></mat-divider>
      <button mat-button class="menu-Button">
        <mat-icon>help</mat-icon>
        <span>راهنما</span>
      </button>

    </mat-sidenav>

    <mat-sidenav-content>

      <article class="main">
        <router-outlet></router-outlet>
      </article>

    </mat-sidenav-content>
  </mat-sidenav-container>


</div>
